
.top_image{
    
        height: 100rem;
        background-image: url('/src/images/header.jpeg');
        background-size: cover;
        
        background-repeat: no-repeat;
    
        /* responsible for the skewed header */
        
    
        /* responsible for the parallax effect */
        
    
}