
.top_image{
    
        height: 40rem;
        background-image: url('/src/images/illustration.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        /* responsible for the skewed header */
        clip-path: polygon(100% 0, 100% 80%, 70% 100%, 0 70%, 0 0);
    
        /* responsible for the parallax effect */
        background-attachment: fixed;
    
}